pkgbase = vboot-utils
	pkgdesc = Chromium OS verified boot utilities
	pkgver = 112.15359
	pkgrel = 1
	url = https://chromium.googlesource.com/chromiumos/platform/vboot_reference
	arch = i686
	arch = x86_64
	license = custom:chromiumos
	makedepends = git
	makedepends = libyaml
	makedepends = trousers
	depends = libutil-linux
	depends = openssl
	depends = libzip
	depends = flashrom-git
	source = git+https://chromium.googlesource.com/chromiumos/platform/vboot_reference#branch=release-R112-15359.B
	source = disable-errors.patch
	source = use-sensible-test-pointer.patch
	sha256sums = SKIP
	sha256sums = 8c59c1fdc2b8cd0e76b2b9f1001a6ce611aa1e011fa88d6055c9578a089cc1fc
	sha256sums = 017b034e4d5dba3dbe2aeda920aa15cfa4fb64a1344aed410fa6113e13b19a24

pkgname = vboot-utils
